<!--TODO-->
<div class="alert alert-warning fade in" hidden="hidden" role="alert">
</div>

<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 id="searchTitle1">{{'home.title' | translate}}</h1>
        <h3 id="searchTitle2">{{'home.subtitle' | translate}}</h3>
        <br>
        <div class="container">
            <input type="text" class="form-control" ng-model="inputKeyword" id="tipinput" >
        </div>
        <br>
        <span ng-click="searchNearestStations()" class="btn btn-default" data-dismiss="alert">{{'home.search' | translate}}</span>
        <div class="container">
            <hr/>
        </div>
    </div>
</header>

<section id="map" class="container">
    <div id="mapContainer" class="map"></div>
</section>

<section id="result" class="container">
    <table class="table table-hover">
        <tr>
            <th class="col-md-1">Name</th>
            <th class="col-md-2">Description</th>
        </tr>
        <tr ng-repeat="route in outputRoutes">
            <td>{{route.routeName}}</td>
            <td>{{route.description}}</td>
        </tr>
    </table>
</section>