<div class="alert alert-warning fade in" hidden="hidden" role="alert">
</div>

<header id="top" class="header">
    <div class="container">
        <!--<h1 id="searchTitle1">{{'home.title' | translate}}</h1>-->
        <!--<h3 id="searchTitle2">{{'home.subtitle' | translate}}</h3>-->
        <!--<br>-->
        <div class="row">
            <div class="text-center">
                <h3 class="text-warning">{{resultDesc}}</h3>
            </div>
        </div>

        <div class="row">

        </div>
        <div class="row">
            <div class="text-center" >
                <span class="btn btn-default" ng-click="showMap()">显示地图</span>
            </div>
        </div>
        <br>
    </div>
</header>



<section class="container">
    <div id="mapContainer" class="map" hidden="hidden"></div>
</section>


<!--<div class="text-vertical-center">-->
    <!--<div class="container">-->
        <!--<input type="text" class="form-control" id="tipinput" ><br/>-->
        <!--<span ng-click="searchNearestStations(false)" class="btn btn-default" data-dismiss="alert">{{'home.search' | translate}}</span>-->
        <!--<div class="container">-->
            <!--<hr/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->