<div class="row">
    <div class="col-md-5">
        <h3>map</h3>
    </div>
    <div class="col-md-4">
        <h3>Route</h3>
    </div>
    <div class="col-md-3">
        <h3>Stations</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div id="mapContainer" class="map"></div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="col-sm-5">
                <input ng-model="inputKeyword" id="tipinput" class="form-control"/>
            </div>
            <div class="col-sm-1">
                <span ng-click="searchNearestStations()" class="btn btn-default">query</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table table-hover">
            <tr>
                <th class="col-md-1">Name</th>
                <th class="col-md-2">Description</th>
            </tr>
            <tr ng-repeat="route in outputRoutes">
                <td>{{route.routeName}}</td>
                <td>{{route.description}}</td>
            </tr>
        </table>
    </div>
</div>

<!--<span ng-click="testFunction()" class="">test</span>-->
