<div class="alert alert-warning fade in" hidden="hidden" role="alert">
</div>

<header id="top" class="header">
    <div class="text-vertical-center">
        <h1 id="searchTitle1">{{'home.title' | translate}}</h1>
        <h3 id="searchTitle2">{{'home.subtitle' | translate}}</h3>
        <h3 class="text-warning">{{resultDesc}}</h3>
        <br>
        <div class="container">
            <input type="text" class="form-control" id="tipinput" >
        </div>
        <br>
        <span ng-click="searchNearestStations(false)" class="btn btn-default" data-dismiss="alert">{{'home.search' | translate}}</span>
        <span ng-click="searchByCurrentLocation()" class="btn btn-default" data-dismiss="alert">{{'home.searchByCurrent' | translate}}</span>
        <div class="container">
            <hr/>
        </div>
    </div>
</header>

<section id="map" class="container">
    <div id="mapContainer" class="map"></div>
</section>


