<div class="row">
    <div class="col-md-5">
        <h3>{{'route.map' | translate}}</h3>
    </div>
    <div class="col-md-4">
        <h3>{{'route.route' | translate}}</h3>
    </div>
    <div class="col-md-3">
        <h3>{{'route.station' | translate}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div id="mapContainer" class="map"></div>
    </div>
    <div class="col-md-4">
        <table class="table table-hover">
            <tr>
                <th class="col-md-2">{{'route.keyword' | translate}}</th>
                <th class="col-md-4">{{'route.description' | translate}}</th>
                <th class="col-md-4">{{'route.action' | translate}}</th>
            </tr>

            <tr ng-repeat="route in allBusRoutes">
                <td>
                    <span ng-click="removeRoute(route)"
                          class="glyphicon glyphicon-remove pointer-hand" title="{{'route.delete' | translate}}"> </span>
                    {{route.routeName}}
                </td>
                <td>{{route.description}}</td>
                <td>
                    <span ng-click="searchInAmap(route)"
                          class="glyphicon glyphicon-search pointer-hand" title="{{'route.show.in.map' | translate}}"> </span>
                    <span ng-click="jumpToStationEditPage(route)"
                          class="glyphicon glyphicon-edit pointer-hand" title="{{'route.edit' | translate}}"> </span>
                    <span ng-click="listStations(route)"
                          class="glyphicon glyphicon-arrow-right pointer-hand" title="{{'route.show.stations' | translate}}"></span>
                </td>
            </tr>
        </table>
        <div class="row col-sm-12">
            <form class="form-group" name="myForm" >
                <div class="col-md-2">
                    <input class="form-control" type="text" ng-model="inputBusRoute.routeName" />
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="inputBusRoute.description" />
                </div>
                <div class="col-md-4">
                    <span ng-click="saveBusRoute()" class="btn btn-default">{{'route.add' | translate}}</span>
                    <span ng-click="clearMap()" class="btn btn-default">{{'route.clear.map' | translate}}</span>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row" ng-repeat="station in stations">
            <div>{{station.keyword}}</div>
        </div>
    </div>
</div>


