<div class="row">
    <div class="col-md-5">
        <h3>{{'station.map' | translate}}</h3>
    </div>
    <div class="col-md-4">
        <h3>{{'station.station' | translate}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div id="mapContainer" class="map"></div>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <th class="col-md-4">{{'station.keyword' | translate}}</th>
                <th class="col-md-4">{{'station.position' | translate}}</th>
                <th class="col-md-2">{{'station.action' | translate}}</th>
            </tr>

            <tr ng-repeat="station in allBusStations">
                <td>{{station.keyword}}</td>
                <td>{{station.lng}}, {{station.lat}}</td>
                <td>
                    <span ng-click="drawStationPoint(station)"
                          class="glyphicon glyphicon-search pointer-hand"> </span>
                    <span ng-click=""
                          class="glyphicon glyphicon-edit pointer-hand"> </span>
                    <span ng-click="deleteBusStation(station.stationId)"
                          class="glyphicon glyphicon-remove pointer-hand"> </span>
                </td>
            </tr>
        </table>
        <div class="row">
            <form class="form-group" name="myForm" >
                <div class="col-md-4">
                    <input id="tipinput" class="form-control" type="text" ng-model="inputBusStation.keyword" title="type in station keyword"/>
                </div>
                <div class="col-md-4">
                    <input type="file" class="form-control text-center" nv-file-drop uploader="uploader" />
                </div>
                <div class="col-md-3">
                    <span ng-click="addBusStation()" class="btn btn-default">{{'station.add' | translate}}</span>
                    <span ng-click="reloadMap()" class="btn btn-default">{{'station.reload' | translate}}</span>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md_4" id="searchResults"></div>
        </div>
    </div>
</div>

