<div class="row">
    <div class="col-md-5">
        <h3>map</h3>
    </div>
    <div class="col-md-4">
        <h3>Route</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div id="mapContainer" class="map"></div>
    </div>
    <div class="col-md-4">
        <table class="table table-hover">
            <tr>
                <th class="col-md-2">City</th>
                <th class="col-md-2">Keyword</th>
                <th class="col-md-4">Description</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat="station in allBusStations">
                <td>{{station.city}}</td>
                <td>{{station.keyword}}</td>
                <td>{{station.description}}</td>
                <td>
                    <span ng-click=""
                          class="glyphicon glyphicon-search pointer-hand"> </span>
                    <span ng-click=""
                          class="glyphicon glyphicon-edit pointer-hand"> </span>
                    <span ng-click=""
                          class="glyphicon glyphicon-remove pointer-hand"> </span>
                    <span ng-click=""
                          class="glyphicon glyphicon-arrow-right pointer-hand"> </span>
                </td>
            </tr>
        </table>
        <div class="row col-sm-12">
            <form class="form-group" name="myForm" >
                <div class="col-md-2">
                    <input class="form-control" type="text" ng-model="inputBusStation.keyword" required title="type in station keyword"/>
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="inputBusStation.description" required title="type in station description"/>
                </div>
                <div class="col-md-2">
                    <span ng-click="saveBusStation()" class="btn btn-default">Add</span>
                </div>
            </form>
        </div>
    </div>

</div>

