<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="setMapStyle('default')">
    Default
</button>
<button type="button" class="btn btn-info" aria-label="Left Align" ng-click="setMapStyle('light')">
    Light
</button>
<button type="button" class="btn btn-warning" aria-label="Left Align" ng-click="setMapStyle('dark')">
    Dark
</button>
<div ng-repeat="route in allBusRoutes" class="row">
    <div class="col-sm-1">
        {{route.routeName}}
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-success" ng-click="doSearchDrivingPath(route)">
            search
        </button>
    </div>
</div>

<p></p>
<div id="mapContainer" class="map"></div>
<div id="panel"></div>


<style type="text/css">
    #panel {
        position: fixed;
        background-color: white;
        max-height: 90%;
        overflow-y: auto;
        top: 10px;
        right: 10px;
        width: 280px;
    }
</style>