

<div class="container">
    <div class="pull-right">
        <iframe align="middle" height="600" width="500"
                src='https://webchat.botframework.com/embed/LindeBot?s=fJh61Vmas2o.cwA.sVU.o4HcHH3bMQgiocHYUsCpG95gQhxnSqAUg8yNN2QMFHk'></iframe>
        <hr/>
    </div>

    <hr/>

    <div class="pull-left">

        <div class="row">
            <div class="col-lg-5">
                <input type="text" ng-model="inputVal" title=""/>
            </div>
            <div class="col-lg-3">
                <span class="btn btn-default" ng-click="sendMsg()">Send</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                15871483-6f1a-42f9-9d92-ac755f1fa825
            </div>
            <div class="col-lg-10">
                JAZAahjpH3CgejxSAhMboR6
            </div>
        </div>
    </div>
</div>